<div id="mobile-header">
	<div id="nav-button-container">
		<div id="nav-button"></div>
	</div> <!-- END #nav-button-container -->
</div> <!-- END #mobile-header -->

<nav>
	<ul class="nav_ul">
		<li class="nav_li"><a href="index.html">Home</a></li>
		<li class="nav_li"><a href="news.html">News</a></li>
		<li class="nav_li"><a href="about.html">About</a></li>
		<li class="nav_li"><a href="team.html">Team</a></li>
		<li class="nav_li"><a href="work.html">Work</a></li>
		<li class="nav_li"><a href="contact.html">Contact</a></li>
	</ul>
</nav>
