---
layout: default
image_url: example.org
---
<div id="employee-wrapper">
    
    <header id="employee-header">
        <a href="/team.html" id="employee-back-link">&lt; Back to Employees</a> 
        <div id="employee-image-wrapper">
            <img src="/assets/img/{{ page.image_url }}" class="employee-image" />
        </div>
        <h2>{{ page.title }}</h2>
        <span class="department">{{ page.department }} Department</span>
    </header>
    
    <div id="employee-bio">
        {{ content }}
    </div>
    
</div>
